/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.logout {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(167, 38, 55);
  border: 2px solid rgb(167, 38, 55);
  color: white;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.logout:hover {
  background-color: white;
  color: rgb(167, 38, 55);
  border: 2px solid rgb(167, 38, 55);
}

.back {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  width: 60px;
  height: 40px;
  border: 2px solid black;
  cursor: pointer;
}

.back:hover {
  background-color: white;
  color: black;
  border: 2p solid black;
}

.container {
  display: flex;
  min-height: 500px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  font-family: 'Courier New', Courier, monospace;
}

.form-container {
  justify-content: center;
  margin: 10px;
  padding: 10px;
  min-height: 300px;
  width: 300px;
  border: 10px solid lightblue;
  border-radius: 10px 10px 10px 10px;
}

.title {
  color: black;
  text-align: center;
  margin: 10px;
}

.form {
  margin: 10px;
  padding: 5px;
}

.form-section-container {
  margin: 10px;
}

.label {
  text-align: left;
  font-size: 20px;
}

.input {
  width: 95%;
  height: 30px;
  border: 2px solid lightblue;
  border-radius: 10px;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: white;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.button:hover {
  cursor: pointer;
  border: 2px solid black;
  color: black;
  background-color: white;
  
}

table {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  padding: 10px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid black;
}

thead th:nth-child(1){
  width: 15%;
}

thead th:nth-child(2){
  width: 35%;
}

thead th:nth-child(3){
  width: 10%;
}

thead th:nth-child(4){
  width: 5%;
}

thead th:nth-child(5){
  width: 10%;
}

thead th:nth-child(6){
  width: 5%;
}

thead th:nth-child(7){
  width: 10%;
}

th {
  padding: 10px;
  text-align: start;
  font-size: 20px;
  border-bottom: 2px solid black;
}

td {
  padding: 5px;
  text-align: start;
  font-size: 12px;
  border-bottom: 2px solid black;
}

.form-section-with-errors {
  background-color: palevioletred;
}

.errors-container {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  background-color: palevioletred;
  border: 2px solid black;
}

.new-button {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: black;
  color: white;
  border: 2px solid black;
  width: 40px;
  height: 40px;
}

.new-button:hover {
  background-color: white;
  color: black;
}

.delete-button {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background-color: rgb(173, 33, 33);
  color: black;
  border: 2px solid rgb(173, 33, 33);
  width: 70px;
  height: 40px;
}

.delete-button:hover {
  background-color: black;
  color: rgb(173, 33, 33);
}
