table {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  padding: 10px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid lightblue;
}

thead th:nth-child(1){
  width: 25%;
}

thead th:nth-child(2){
  width: 35%;
}

thead th:nth-child(3){
  width: 7.5%;
}

thead th:nth-child(4){
  width: 5%;
}

thead th:nth-child(5){
  width: 7.5%;
}

thead th:nth-child(6){
  width: 7.5%;
}

thead th:nth-child(7){
  width: 7.5%;
}

th {
  padding: 10px;
  text-align: start;
  font-size: 20px;
  border-bottom: 2px solid black;
}

td {
  padding: 5px;
  text-align: start;
  font-size: 12px;
  border-bottom: 2px solid black;
}